 .footer{
    background-color: black;
    color: white;
    /* height: 80vh; */
    display: flex;
    flex-direction: column;

}

.footer-top{
    flex: 9;
    display: flex;
    border-bottom: 1px solid gray;
}

.logo{
    flex: 2;
    margin-left: 10px;
}

.creatives, .talents, .behance, .socials{
    flex: 1;
    font-size: 14px;
    cursor: pointer;
}

.creatives > p:hover, .talents > p:hover, .behance > p:hover, .socials > p:hover{
    text-decoration: underline white;
}

 .creatives > p {
    text-align: center;
} 




.footer-bottom{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.footer-bottom-copyright{
    display: flex;
    gap: 20px;
    align-items: center;
}
                                               
.footer-bottom-content{
    display: flex;
    justify-content: space-evenly;
    gap:10px;
    align-items: center;
}

.footer-bottom-content > p:hover{
    text-decoration: underline white;
    cursor: pointer;
}

.languages{
    position: relative;
    display: inline-block;
}

.languageBtn{
    border: none;
    background-color:rgb(59, 14, 59);
    color: white;    
}

.languages:hover .languagesDropdown {
    display: block;
  }

.languagesDropdown{
    display: none;
    position: absolute;
    background-color:grey;
    bottom: 20px;
    min-width: 90px;
    box-shadow: 0px 2px 4px 0px grey;
    z-index: 1;
}

.languagesDropdown a{
    display: block;
} 
 
