.card-container{
    position: relative;
    width: 300px;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    height: fit-content;
  }
  
  
  
  
  .card-image{
    height: 300px;
    border-radius: 16px 16px 16px 16px;
    cursor: pointer;
  }
  
  .card-details{
    display: flex;
  }
  
  .card-user{
    padding: 0;
  }
  
  .card-title{
    font-size: 16px;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  .card-author{
    font-size: 14px;
    padding: 0;
    margin: 0;
  }
  
  .card-title:hover{
    text-decoration: underline black; 
  }
  
  
  
  .card-author:hover{
    text-decoration: underline black;
  }
  
  .card-like{
    display: flex;
    align-items: flex-start;
    gap: 5px;
    border: none;
    padding: 0px 8px;
    margin: 0;
    background-color: transparent;
    text-decoration: none;
  }
  
  .card-view{
    display: flex;
    align-items: flex-start;
    gap: 5px;
    justify-content: center;
    padding: 0px 8px;
    margin: 0;
    background-color: transparent;
    text-decoration: none;
  }